/* Block 4 - Contact CTA */
.contact-section {
  background-color: var(--secondary-colour);
}
.contact-cta-outer {
  text-align: center;
  height: 400px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-subheading {
  font-weight: 400;
}
