/* Block 3 - Testimonial */
.testimonial-section {
  background-color: var(--primary-colour);
}
.testimonial-outer {
  text-align: center;
  height: 400px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.open-quote {
  background-image: url("/images/open-quote.svg");
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  top: 140px;
  left: 0px;
  font-size: 3em;
}
.close-quote {
  background-image: url("/images/close-quote.svg");
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  top: 100px;
  right: 0px;
  font-size: 3em;
}
.testimonial-heading,
.testimonial-subheading {
  color: var(--secondary-colour);
}
.testimonial-heading {
  font-weight: 400;
  font-size: 26px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  max-width: 1000px;
}
.testimonial-subheading {
  font-size: 20px;
}
.text-span {
  font-size: 24px;
}
