* {
  margin: 0;
  padding: 0;
}

/*  Block 1 - 4 section cards */

.four-section-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f1f1f1;
}
.individual-card {
  background-color: #fff;
  border: 1px solid black;
  height: 300px;
  padding-bottom: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}
.individual-card {
  transition: background-color 0.3s ease-in-out, transform 1s ease-in-out;
}

.individual-card:hover {
  animation: none;
  background-color: aqua;
  transform: translateY(-10px);
}

.individual-card:not(:hover) {
  animation: none;
  transform: translateY(0px);
}

/* Block 2 - Explore CTA */

.explore-cta-outer {
  display: flex;
  padding: 4em;
  width: 600px;
  margin: 0 auto;
  border: 1px solid black;
}
.explore-cta-inner {
  width: 100%;
}

/* Block 3 - Testimonial */
.testimonial-outer {
  text-align: center;
  padding: 4em;
  border: 1px solid black;
}

/* Block 4 - Contact CTA */
.contact-cta-outer {
  text-align: center;
  padding: 4em;
  border: 1px solid black;
}
